---
Checks: "bugprone-*,
         performance-*,
         modernize-*,
         readability-*,
         # clang-analyzer-*,
         # cppcoreguidelines-*,
         cppcoreguidelines-macro-usage,
         misc-*,
         # DISABLE SOME CHECKS:
         -bugprone-easily-swappable-parameters,
         -bugprone-reserved-identifier,
         -performance-noexcept-move-constructor, # TODO: Enable this when exceptions work.
         -modernize-avoid-c-arrays,
         -modernize-use-auto, # TODO: Configure this.
         -readability-magic-numbers,
         -readability-identifier-length,
         -readability-uppercase-literal-suffix,
         -readability-convert-member-functions-to-static,
         -readability-static-accessed-through-instance,
         -readability-function-cognitive-complexity,
         -readability-redundant-parentheses, # This doesn't work reliably.
         -cppcoreguidelines-avoid-magic-numbers,
         -cppcoreguidelines-pro-type-union-access,
         -cppcoreguidelines-pro-bounds-pointer-arithmetic,
         -cppcoreguidelines-pro-type-reinterpret-cast,
         -misc-non-private-member-variables-in-classes,
         -misc-unused-using-decls,
         -misc-unconventional-assign-operator,
         -misc-use-internal-linkage,
         -misc-header-include-cycle,
         -misc-include-cleaner,
         "

WarningsAsErrors: ''
HeaderFilterRegex: ^src
FormatStyle: file

CheckOptions:
  - { key: readability-identifier-naming.VariableCase,                      value: lower_case }
  - { key: readability-identifier-naming.VariableIgnoredRegexp,             value: '_[_(A-Z)].*' }
  - { key: readability-identifier-naming.MemberCase,                        value: lower_case }
  - { key: readability-identifier-naming.MemberIgnoredRegexp,             value: '_[_(A-Z)].*' }
  - { key: readability-identifier-naming.FunctionCase,                      value: lower_case }
  - { key: readability-identifier-naming.FunctionIgnoredRegexp,             value: '_[_(A-Z)].*' }
  - { key: readability-identifier-naming.NamespaceCase,                     value: lower_case }
  - { key: readability-identifier-naming.StructCase,                        value: lower_case }
  - { key: readability-identifier-naming.StructIgnoredRegexp,             value: '_[_(A-Z)].*' }
  - { key: readability-identifier-naming.ClassCase,                         value: lower_case }
  - { key: readability-identifier-naming.ClassIgnoredRegexp,             value: '_[_(A-Z)].*' }
  - { key: readability-identifier-naming.TypeAliasCase,                     value: lower_case }
  - { key: readability-identifier-naming.TypedefCase,                       value: lower_case }
  - { key: readability-identifier-naming.PointerParameterIgnoredRegexp,     value: '(p+)_.*' }
  - { key: readability-identifier-naming.PointerParameterPrefix,            value: p_ }
  - { key: readability-identifier-naming.LocalPointerIgnoredRegexp,         value: '(_|((p+)_.*))' }
  - { key: readability-identifier-naming.LocalPointerPrefix,                value: p_ }
  - { key: readability-identifier-naming.LocalConstantPointerIgnoredRegexp, value: '(_|((p+)_.*))' }
  - { key: readability-identifier-naming.LocalConstantPointerPrefix,        value: p_ }
  - { key: readability-identifier-naming.PrivateMemberPrefix,               value: m_ }
  - { key: readability-identifier-naming.PrivateMemberIgnoredRegexp,        value: '_' }
  - { key: readability-identifier-length.IgnoredParameterNames,             value: '[tuxy]' }
  - { key: readability-identifier-naming.TemplateParameterIgnoredRegexp,    value: '[A-Z]' }
  - { key: readability-identifier-naming.TypeAliasIgnoredRegexp,            value: '.*[A-Z].*|[a-z0-9_]_$' }
  - { key: readability-identifier-naming.TypedefIgnoredRegexp,              value: '.*[A-Z].*|[a-z0-9_]_$' }
  - { key: performance-unnecessary-value-param.AllowedTypes,                value: basic_str_span;span;io_vector }
  - { key: readability-operators-representation.BinaryOperators,            value: '&&;&=;&;|;~;!;!=;||;|=;^;^=' }
  - { key: cppcoreguidelines-macro-usage.AllowedRegexp,                     value: '^(CAT_.*|JKJ_.*|mov|fwd|ssizeof|defer|prop|prop_or|prop_as|test|[PWASD]|L[0-9NZG])$' }
  - { key: readability-named-parameter.InsertPlainNamesInForwardDecls,      value: 'true' }
...
