---
Language: Cpp
IndentWidth: 3
ColumnLimit: 80
MaxEmptyLinesToKeep: 1
ContinuationIndentWidth: 3

LambdaBodyIndentation: Signature
ReferenceAlignment: Pointer
QualifierAlignment: Custom
QualifierOrder: ['friend', 'static', 'inline', 'constexpr', 'type', 'const', 'volatile' ]
AlignArrayOfStructures: Left
RequiresClausePosition: OwnLine
InsertBraces: true
IndentRequiresClause: true
BreakAfterAttributes: Always
RequiresExpressionIndentation: Keyword
IntegerLiteralSeparator:
  Binary: 4
  Decimal: 3
  Hex: 8

# TODO: This doesn't seem to work in clang-format 20:
SeparateDefinitionBlocks: Always

Cpp11BracedListStyle: true
AlignAfterOpenBracket: Align
AlignConsecutiveTableGenCondOperatorColons: None
AlignConsecutiveBitFields: AcrossEmptyLinesAndComments
AlignEscapedNewlines: Left
BreakBeforeBinaryOperators: NonAssignment
AlignOperands: Align
AlignTrailingComments: true
AllowAllArgumentsOnNextLine: true
AllowAllConstructorInitializersOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortEnumsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortLambdasOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortCompoundRequirementOnASingleLine: true
AllowShortLoopsOnASingleLine: false
AlwaysBreakBeforeMultilineStrings: false
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: true
BinPackParameters: BinPack
BreakBeforeBraces: Attach
BreakAfterReturnType: All
BreakBeforeConceptDeclarations: Always
BreakBeforeInheritanceComma: false
BreakInheritanceList: AfterComma
BreakBeforeTernaryOperators: true
BreakConstructorInitializersBeforeComma: false
BreakConstructorInitializers: BeforeColon
BreakBeforeInlineASMColon: Always
BreakStringLiterals: true
CompactNamespaces: false
ConstructorInitializerAllOnOneLineOrOnePerLine: true
DeriveLineEnding: false
DerivePointerAlignment: false
EmptyLineBeforeAccessModifier: Always
ExperimentalAutoDetectBinPacking: false
ShortNamespaceLines: 16
FixNamespaceComments: true
SortIncludes: true
IncludeBlocks: Regroup
IncludeCategories:
 - Regex: '^<ext/.*\.hpp>'
   Priority: 2
   SortPriority: 0
   CaseSensitive: true
 - Regex: '^<.*\.hpp>'
   Priority: 1
   SortPriority: 0
   CaseSensitive: true
 - Regex: '^<.*\.tpp>'
   Priority: 1
   SortPriority: 0
   CaseSensitive: true
 - Regex: '^<.*'
   Priority: 2
   SortPriority: 0
   CaseSensitive: true
 - Regex: '.*'
   Priority: 3
   SortPriority: 0
   CaseSensitive: true
IndentCaseLabels: true
IndentCaseBlocks: true
IndentGotoLabels: false
IndentPPDirectives: None
IndentExternBlock: AfterExternBlock
IndentWrappedFunctionNames: false
KeepEmptyLinesAtTheStartOfBlocks: false
NamespaceIndentation: None
PenaltyBreakAssignment: 2
PenaltyBreakBeforeFirstCallParameter: 1
PenaltyBreakComment: 300
PenaltyBreakFirstLessLess: 120
PenaltyBreakString: 1000
PenaltyBreakTemplateDeclaration: 10
PenaltyExcessCharacter: 1000000
PenaltyReturnTypeOnItsOwnLine: 0
PenaltyIndentedWhitespace: 0
PointerAlignment: Left
ReflowComments: true
SortUsingDeclarations: LexicographicNumeric
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceAfterTemplateKeyword: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: false
SpaceBeforeCpp11BracedList: false
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeParens: ControlStatements
SpaceAroundPointerQualifiers: Default
SpaceBeforeRangeBasedForLoopColon: true
SpaceInEmptyBlock: false
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 2
SpacesInAngles: false
SpacesInConditionalStatement: false
SpacesInContainerLiterals: true
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpaceBeforeSquareBrackets: false
BitFieldColonSpacing: Both
Standard: Auto
UseCRLF: false
UseTab: Never
...
